@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="~/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
          rel="stylesheet" />

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assests/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .table th, .table td {
            vertical-align: baseline !important;
            text-align: center !important;
        }

        a[data-toggle="collapse"] {
            color: #ffecc9 !important;
        }
    </style>
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="#"
                   class="img logo rounded-circle mb-5"
                   style="background-image: url(../assests/images/logo.jpg)"></a>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="@Url.Action("Dashboard", "Admin")">Home</a>
                    </li>
                    <li>
                        <a href="#homeSubmenu"
                           data-toggle="collapse"
                           aria-expanded="true"
                           class="dropdown-toggle">Users</a>
                        <ul class="collapse list-unstyled show" id="homeSubmenu">
                            <li>
                                <a href="@Url.Action("Add", "User")">Add New User</a>
                            </li>
                            <li>
                                <a href="@Url.Action("NonActiveUsers", "User")">List of Non-Active User</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Users", "User")">List of Users</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu"
                           data-toggle="collapse"
                           aria-expanded="true"
                           class="dropdown-toggle">Instructors</a>
                        <ul class="collapse list-unstyled show" id="pageSubmenu">
                            <li>
                                <a href="@Url.Action("Add", "Instructor")">Add New Instructor</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Instructors", "Instructor")">List of Instructors</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#insSubmenu"
                           data-toggle="collapse"
                           aria-expanded="true"
                           class="dropdown-toggle">Classes</a>
                        <ul class="collapse list-unstyled show" id="insSubmenu">
                            <li>
                                <a href="@Url.Action("Add", "Class")">Add New Class</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Classes", "Class")">List of Classes</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#enrSubmenu"
                           data-toggle="collapse"
                           aria-expanded="true"
                           class="dropdown-toggle">Enrollments</a>
                        <ul class="collapse list-unstyled show" id="enrSubmenu">
                            <li>
                                <a href="@Url.Action("Add", "Enrollment")">Add New Enrollment</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Enrollments", "Enrollment")">List of Enrollments</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ListOfClasses", "Enrollment")">List of Classes</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="footer">
                    <p style="color: #ffffffd6 !important">
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        All rights reserved
                        <i class="icon-heart" aria-hidden="true"></i>
                    </p>
                </div>
            </div>
        </nav>
        <div id="content">

            @RenderBody()

        </div>
    </div>

    <script src="~/assests/js/popper.js"></script>
    <script src="~/assests/js/bootstrap.min.js"></script>
    <script src="~/assests/js/main.js"></script>
    <script>
        $(document).ready(function () {
            $('li').click(function () {
                $('li').removeClass('active');
                $(this).addClass('active');
                $(this).parents('li').addClass('active');
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</body>
</html>
