@using Application.ClientFeatures.Class.Request
@model ClassUpdateRequest

@{
    ViewData["Title"] = "Edit Class - KidKinder Admin";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<style>
    body {
        background: #f8f8f8 !important;
    }

    .image-preview, #callback-preview {
        width: 150px;
        height: 150px;
        background-size: cover;
        border: 2px solid #ddd;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        background-color: #eee;
        color: #ecf0f1;
    }

        .image-preview input, #callback-preview input {
            line-height: 200px;
            font-size: 200px;
            position: absolute;
            opacity: 0;
            z-index: 10;
        }

        .image-preview label, #callback-preview label {
            position: absolute;
            z-index: 5;
            opacity: 0.8;
            cursor: pointer;
            background-color: #fff;
            width: 150px;
            height: 50px;
            font-size: 12px;
            line-height: 50px;
            text-transform: uppercase;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            text-align: center;
            color: #000;
        }
</style>

@* Add Page Navigation Here *@

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Class</a></li>
        <li class="breadcrumb-item"><a href="#">Edit Class</a></li>
    </ol>
</nav>

<div class="container-fluid my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-8 ">
            <div class="card">
                <div class="card-header bg-info">
                    <h4 class="card-title text-white font-weight-bolder">
                        Edit Class
                    </h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Edit" asp-controller="Class" id="formClass" enctype="multipart/form-data">
                        @if (TempData["Success"] != null)
                        {
                            <div class="alert alert-success alert-dismissible show fade">
                                <div class="alert-body">
                                    <button class="close" data-dismiss="alert">
                                        <span>×</span>
                                    </button>
                                    @Html.Raw(TempData["Success"])
                                </div>
                            </div>
                        }
                        @if (TempData["Error"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible show fade">
                                <div class="alert-body">
                                    <button class="close" data-dismiss="alert">
                                        <span>×</span>
                                    </button>
                                    @Html.Raw(TempData["Error"])
                                </div>
                            </div>
                        }
                        <input type="hidden" asp-for="Id" style="display: none !important; visibility: hidden !important;" />
                        <div class="row">
                            <div class="col-md-12">
                                <div style="display: flex; justify-content: center;">
                                    <div id="image-preview" class="image-preview">
                                        <label for="choose-file" class="custom-file-upload" id="choose-file-label">
                                            Change Avatar
                                        </label>
                                        <input asp-for="Image" name="Image" type="file" id="choose-file"
                                               accept="image/png,image/jpg,image/jpeg" onchange="loadProfile(event)" style="display: none !important;" />
                                        @if (Model.ProfileImage != null)
                                        {
                                            <img id="dynamicImage" src="@Model.ProfileImage" alt="Profile Image" width="150" height="150" style="border-radius: 50%;" />
                                            <input type="hidden" asp-for="ProfileImage" value="@Model.ProfileImage" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fullname">Enter Class Name</label>
                                    <span asp-validation-for="ClassName" class="text-danger"></span>
                                    <input type="text" asp-for="ClassName" value="@Model.ClassName" class="form-control" placeholder="Enter Class Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Enter Grade Level</label>
                                    <span asp-validation-for="GradeLevel" class="text-danger"></span>
                                    <input type="text" asp-for="GradeLevel" value="@Model.GradeLevel" class="form-control" placeholder="Enter Grade Level">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="fullname">Enter Description</label>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                    <textarea asp-for="Description" rows="6" class="form-control" placeholder="Enter Description">
                                        @Model.Description
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fullname">Enter Age Groups</label>
                                    <span asp-validation-for="AgeGroups" class="text-danger"></span>
                                    <input type="text" asp-for="AgeGroups" class="form-control" value="@Model.AgeGroups" placeholder="Enter AgeGroups">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Enter Fees</label>
                                    <span asp-validation-for="Fees" class="text-danger"></span>
                                    <input type="number" asp-for="Fees" class="form-control" value="@Model.Fees" placeholder="Enter Fees">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Enter StartTiming</label>
                                    <span asp-validation-for="StartTiming" class="text-danger"></span>
                                    <input type="time" class="form-control" asp-for="StartTiming" value="@Model.StartTiming.ToString("HH:mm")" placeholder="Enter Start Timing" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Enter EndTiming</label>
                                    <span asp-validation-for="EndTiming" class="text-danger"></span>
                                    <input type="time" class="form-control" asp-for="EndTiming" value="@Model.EndTiming.ToString("HH:mm")" placeholder="Enter End Timing" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Enter Max Class Size</label>
                                    <span asp-validation-for="MaxClassSize" class="text-danger"></span>
                                    <input type="number" asp-for="MaxClassSize" class="form-control" value="@Model.MaxClassSize" placeholder="Enter Max Class Size">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Select Instructor</label>
                                    <span asp-validation-for="InstructorID" class="text-danger"></span>
                                    <select asp-for="InstructorID" class="form-control">
                                        <option disabled value="0">Select Instructor</option>
                                        @foreach (var instructor in ViewBag.Instructors)
                                        {
                                            if(instructor.Id == Model.InstructorID)
                                            {
                                                <option value="@instructor.Id" selected>@instructor.FullName</option>
                                            }
                                            else
                                            {
                                                <option value="@instructor.Id">@instructor.FullName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Edit Class</button>
                                    <a href="@Url.Action("Classes", "Class")" type="submit" class="btn btn-danger">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#choose-file').change(function () {
        var file = $('#choose-file')[0].files[0].name;
        $('#choose-file-label').text(file);
    });

    // Check If dynamicImage contains image or not on form submit
    $('#formClass').submit(function () {
        if ($('#dynamicImage').attr('src') == '') {
            Swal.fire({
                title: 'Error!',
                text: 'Please select an image',
                icon: 'error',
            });
            return false;
        }
    });
</script>