@using Application.ClientFeatures.Enrollment.Request
@model EnrollmentUpdateRequest

@{
    ViewData["Title"] = "Edit Enrollment - KidKinder Admin";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<style>
    body {
        background: #f8f8f8 !important;
    }

    .image-preview, #callback-preview {
        width: 150px;
        height: 150px;
        background-size: cover;
        border: 2px solid #ddd;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        background-color: #eee;
        color: #ecf0f1;
    }

        .image-preview input, #callback-preview input {
            line-height: 200px;
            font-size: 200px;
            position: absolute;
            opacity: 0;
            z-index: 10;
        }

        .image-preview label, #callback-preview label {
            position: absolute;
            z-index: 5;
            opacity: 0.8;
            cursor: pointer;
            background-color: #fff;
            width: 150px;
            height: 50px;
            font-size: 12px;
            line-height: 50px;
            text-transform: uppercase;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            text-align: center;
            color: #000;
        }
</style>

@* Add Page Navigation Here *@

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Enrollment</a></li>
        <li class="breadcrumb-item"><a href="#">Edit Enrollment</a></li>
    </ol>
</nav>

<div class="container-fluid my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-8 ">
            <div class="card">
                <div class="card-header bg-info">
                    <h4 class="card-title text-white font-weight-bolder">
                        Edit Enrollment
                    </h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Edit" asp-controller="Enrollment" id="formEnrollment">
                        @if (TempData["Success"] != null)
                        {
                            <div class="alert alert-success alert-dismissible show fade">
                                <div class="alert-body">
                                    <button class="close" data-dismiss="alert">
                                        <span>×</span>
                                    </button>
                                    @Html.Raw(TempData["Success"])
                                </div>
                            </div>
                        }
                        @if (TempData["Error"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible show fade">
                                <div class="alert-body">
                                    <button class="close" data-dismiss="alert">
                                        <span>×</span>
                                    </button>
                                    @Html.Raw(TempData["Error"])
                                </div>
                            </div>
                        }
                        <input type="hidden" asp-for="Id" style="display: none !important; visibility: hidden !important;" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Select Class</label>
                                    <span asp-validation-for="ClassID" class="text-danger"></span>
                                    <select asp-for="ClassID" class="form-control">
                                        <option disabled value="0">Select Class</option>
                                        @foreach (var _class in ViewBag.Classes)
                                        {
                                            if (_class.Id == Model.ClassID)
                                            {
                                                <option value="@_class.Id" selected>@_class.ClassName</option>
                                            }
                                            else
                                            {
                                                <option value="@_class.Id">@_class.ClassName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Select User</label>
                                    <span asp-validation-for="UserID" class="text-danger"></span>
                                    <select asp-for="UserID" class="form-control">
                                        <option disabled value="0">Select User</option>
                                        @foreach (var _user in ViewBag.Users)
                                        {
                                            if (_user.Id == Model.UserID)
                                            {
                                                <option value="@_user.Id" selected>@_user.FullName</option>
                                            }
                                            else
                                            {
                                                <option value="@_user.Id">@_user.FullName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fullname">Enter Enrollment Date</label>
                                    <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
                                    <input type="date" asp-for="EnrollmentDate" class="form-control" value="@Model.EnrollmentDate.ToString("yyyy-MM-dd")" placeholder="Enter EnrollmentDate">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Edit Enrollment</button>
                                    <a href="@Url.Action("Enrollments", "Enrollment")" type="submit" class="btn btn-danger">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>