@using Application.ClientFeatures.Enrollment.Response
@model EnrollmentResponseV2

@{
    ViewData["Title"] = "Class Enrollment Detail- KidKinder Admin";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<style>
    body {
        background: #f8f8f8 !important;
    }

    .image-preview, #callback-preview {
        width: 150px;
        height: 150px;
        background-size: cover;
        border: 2px solid #ddd;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        background-color: #eee;
        color: #ecf0f1;
    }

        .image-preview input, #callback-preview input {
            line-height: 200px;
            font-size: 200px;
            position: absolute;
            opacity: 0;
            z-index: 10;
        }

        .image-preview label, #callback-preview label {
            position: absolute;
            z-index: 5;
            opacity: 0.8;
            cursor: pointer;
            background-color: #fff;
            width: 150px;
            height: 50px;
            font-size: 12px;
            line-height: 50px;
            text-transform: uppercase;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            text-align: center;
            color: #000;
        }
</style>

@* Add Page Navigation Here *@

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Enrollment</a></li>
        <li class="breadcrumb-item"><a href="#">View Class Enrollments</a></li>
    </ol>
</nav>

<div class="container-fluid my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-8 ">
            <div class="card">
                <div class="card-header bg-info">
                    <h4 class="card-title text-white font-weight-bolder">
                        View Class Enrollments Detail
                    </h4>
                </div>
                <div class="card-body">
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success alert-dismissible show fade">
                            <div class="alert-body">
                                <button class="close" data-dismiss="alert">
                                    <span>×</span>
                                </button>
                                @Html.Raw(TempData["Success"])
                            </div>
                        </div>
                    }
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible show fade">
                            <div class="alert-body">
                                <button class="close" data-dismiss="alert">
                                    <span>×</span>
                                </button>
                                @Html.Raw(TempData["Error"])
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-12">
                            <div style="display: flex; justify-content: center;">
                                <div id="image-preview" class="image-preview">
                                    @if (Model.ClassImage != null)
                                    {
                                        <img id="dynamicImage" src="@Model.ClassImage" alt="Class Image" width="150" height="150" style="border-radius: 50%;" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Class ID</label>
                                <span class="form-control">@Model.ClassID</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fullname">Class Name</label>
                                <span class="form-control">@Model.ClassName</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Grade Level</label>
                                <span class="form-control">@Model.GradeLevel</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Age Groups</label>
                                <span class="form-control">@Model.AgeGroups</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Instructor ID</label>
                                <span class="form-control">@Model.InstructorID</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fullname">Instructor Name</label>
                                <span class="form-control">@Model.InstructorName</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Current Status</label>
                                @{
                                    if (Model.Status == 1)
                                    {
                                        <span class="form-control"><span class="badge badge-success">Active</span></span>
                                    }
                                    else if (Model.Status == 3)
                                    {
                                        <span class="form-control"><span class="badge badge-danger">Deleted</span></span>
                                    }
                                    else
                                    {
                                        <span class="form-control"><span class="badge badge-danger">InActive</span></span>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Enrollments", "Enrollment")" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </div>
    </div>
    @if (Model.Users is not null && Model.Users.Count > 0)
    {
        <div class="row my-4">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <h2 class="bg-primary rounded p-2 text-white">Enrolled Users</h2>
                <table class="table table-bordered">
                    <thead class="table-info">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Enrollment Id</th>
                            <th scope="col">Image</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Full Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Enrollment Date</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var count = 1;
                            foreach (var user in Model.Users)
                            {
                                <tr>
                                    <td scope="row">@count</td>
                                    <td>@user.Id</td>
                                    <td><img src="@user.UserImage" width="50" height="50" alt="UserImage @user.Username" /></td>
                                    <td>@user.Username</td>
                                    <td>@user.FullName</td>
                                    <td>@user.Email</td>
                                    <td>@user.EnrollmentDate</td>
                                    @if (user.Status == 1)
                                    {
                                        <td><span class="badge badge-success" style="font-size: 12px !important">Active</span></td>
                                    }
                                    else if(user.Status == 3)
                                    {
                                        <td><span class="badge badge-danger" style="font-size: 12px !important">Deleted</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge badge-danger" style="font-size: 12px !important">Inactive</span></td>
                                    }
                                </tr>
                                count++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>