@using Application.ClientFeatures.User.Request
@model UserUpdateRequest

@{
    ViewData["Title"] = "Edit User - KidKinder Admin";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<style>
    body {
        background: #f8f8f8 !important;
    }

    .image-preview, #callback-preview {
        width: 150px;
        height: 150px;
        background-size: cover;
        border: 2px solid #ddd;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        background-color: #eee;
        color: #ecf0f1;
    }

        .image-preview input, #callback-preview input {
            line-height: 200px;
            font-size: 200px;
            position: absolute;
            opacity: 0;
            z-index: 10;
        }

        .image-preview label, #callback-preview label {
            position: absolute;
            z-index: 5;
            opacity: 0.8;
            cursor: pointer;
            background-color: #fff;
            width: 150px;
            height: 50px;
            font-size: 12px;
            line-height: 50px;
            text-transform: uppercase;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            text-align: center;
            color: #000;
        }
</style>
<script>
    function loadProfile(event) {
        var files = event.target.files;
        for (var i = 0; i < files.length; i++) {
            $("#dynamicImage").attr("src", URL.createObjectURL(event.target.files[i]));
        }
    }
</script>

@* Add Page Navigation Here *@

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">User</a></li>
        <li class="breadcrumb-item"><a href="#">Edit User</a></li>
    </ol>
</nav>

<div class="container-fluid my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-8 ">
            <div class="card">
                <div class="card-header bg-info">
                    <h4 class="card-title text-white font-weight-bolder">
                        Edit User
                    </h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Edit" asp-controller="User" enctype="multipart/form-data">
                        @if (TempData["Success"] != null)
                        {
                            <div class="alert alert-success alert-dismissible show fade">
                                <div class="alert-body">
                                    <button class="close" data-dismiss="alert">
                                        <span>×</span>
                                    </button>
                                    @Html.Raw(TempData["Success"])
                                </div>
                            </div>
                        }
                        @if (TempData["Error"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible show fade">
                                <div class="alert-body">
                                    <button class="close" data-dismiss="alert">
                                        <span>×</span>
                                    </button>
                                    @Html.Raw(TempData["Error"])
                                </div>
                            </div>
                        }
                        <input type="hidden" asp-for="Id" value="@Model.Id" />
                        <div class="row">
                            <div class="col-md-12">
                                <div style="display: flex; justify-content: center;">
                                    <div id="image-preview" class="image-preview">
                                        <label for="choose-file" class="custom-file-upload" id="choose-file-label">
                                            Change Avatar
                                        </label>
                                        <input asp-for="Image" name="Image" type="file" id="choose-file"
                                               accept="image/png,image/jpg,image/jpeg" onchange="loadProfile(event)" style="display: none !important;" />
                                        @if (Model.ProfileImage != null)
                                        {
                                            <img id="dynamicImage" src="@Model.ProfileImage" alt="Profile Image" width="150" height="150" style="border-radius: 50%;" />
                                            <input type="hidden" asp-for="ProfileImage" value="@Model.ProfileImage" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fullname">Enter Fullname</label>
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                    <input type="text" asp-for="FullName" class="form-control" value="@Model.FullName" placeholder="Enter Full Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Enter Username</label>
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                    <input type="text" asp-for="Username" class="form-control" value="@Model.Username" placeholder="Enter Username">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Enter Email</label>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <input type="text" class="form-control" asp-for="Email" value="@Model.Email" readonly="readonly" placeholder="abc@exmaple.com" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Password</label>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                    <input type="password" asp-for="Password" class="form-control" value="@Model.Password" placeholder="Enter Password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    <input type="password" asp-for="ConfirmPassword" class="form-control" value="@Model.ConfirmPassword" placeholder="Enter Confirm Password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Edit User</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $('#choose-file').change(function () {
        var file = $('#choose-file')[0].files[0].name;
        $('#choose-file-label').text(file);
    });

    // Check If dynamicImage contains image or not on form submit
    $('#formAcoount').submit(function () {
        if ($('#dynamicImage').attr('src') == '') {
            Swal.fire({
                title: 'Error!',
                text: 'Please select an image',
                icon: 'error',
            });
            return false;
        }
    });
</script>